.content {
	margin-top: 10rem;
	padding: 2rem 0;
}

.container {
	flex: 1;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	width: 100%;
	min-height: 100dvh;
}

@media (max-width: 640px) {
	.content {
		margin-top: 12rem;
	}
}
