:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	height: 100dvh;
	width: 100dvw;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--color-bg-app: #f9fafb;
	--color-text: #111827;
	--color-primary: #2563eb;
	--color-secondary: #3b82f6;
	--color-bg: #e2e8f0;
	--color-card-bg: #d1d5db;
	--color-bg-input: #e5e7eb;
	--color-border: #f3f4f5;
	--color-placeholder: #4b5563;
}

[data-theme='dark'] {
	--color-bg-app: #111827;
	--color-text: #f9fafb;
	--color-primary: #3b83f684;
	--color-secondary: #60a5fa;
	--color-bg: #1d293d;
	--color-card-bg: #1f2937;
	--color-bg-input: #1e293b;
	--color-border: #374151;
	--color-placeholder: #9ca3af;
}
body {
	background-color: var(--color-bg-app);
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0 15px;
	justify-content: center;
	align-items: center;
}
